seletor {
    propriedade: valor;
}
body {
    background-color: #f0f0f0;
    font-family: arial, sans-serif;
}
h1{
    color: #cc0700;
    text-align: center;
    padding-top: 50px;
}
    